<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dog Grooming</title>
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
  </head>
  <body>
    <div class="container">
        <h5 style="text-align: right"><a href="/logout">Logout</a></h5>
        <h5 style="text-align: right"><a href="/profile/{{ user.id }}">Profile</a></h5>
        <br>
        <h5> Welcome, <b>{{user.name}} !</b></h5>
        {% if messages %}

            <ul class="messages">
            {% for message in messages %}
                <li style="color:red"> <i class="material-icons green">check</i>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    </div>
    <br>
    <div class="container" >
        <div class="card-panel teal lighten-2">
        <h4>Here is your recent Appointment :</h4>
        <table>
            <thead>
                <th>Description</th>
                <th>Time</th>
                <th>Options</th>
                <th>Breed</th>
                <th>Action</th>
            </thead>
            <tbody>
                <!-- {{today_appoint}} -->
                {% for appointment in appointments %}
                <tr>
                    <td>{{ appointment.task }}</td>
                    <td>
                        <div class"row">
                            <div class="col s12">
                            {{appointment.date}}
                        </div>
                        <div class="col s12">
                             {{ appointment.time }}</td>
                        </div>
                        </div>
                    <td>{{ appointment.Options }}</td>
                    <td>{{ appointment.breed }}</td>
                    {% if appointment.Options != 'Done' %}
                    <td>
                        <div class="row">
                            <div class="col s12">
                                <form class="edit" action="/update/{{ appointment.id }}" method="post">
                                    {% csrf_token %}
                                    <input type="submit" name="edit" value="Edit" class="waves-effect red btn-small">
                                </form>
                            </div>

                            <div class="col s12">
                                <form class="delete" action="/delete/{{ appointment.id }}" method="post">
                                    {% csrf_token %}
                                    <input type="submit" name="delete" value="Cancel" class="waves-effect red btn-small">
                                </form>
                            </div>
                        </div>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>

    <!-- <div class="container">
        <div class="card-panel teal lighten-2">
        <h4>Your Appointments History:</h4>
        <table>
            <thead>
                <th>Description</th>
                <th>Date</th>
                <th>Time</th>
            </thead>
            <tbody>
                {%for appointment in appointments%}
                <tr>
                    <td>{{appointment.task}}</td>
                    <td>{{appointment.date}}</td>
                    <td>{{appointment.time}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
        </div>
        </div> -->
        <br>

        <div class="container">

            <div class="card-panel  #18ffff cyan accent-2">
            <h3>Add Appointment</h2>
            {% if messages %}
                <ul class="messages">
                {% for message in messages %}
                <li style="color:red">{{ message }}</li>
                {% endfor %}
                </ul>
              {% endif %}
            <form action="/add" class="col s12" method="POST">
                {% csrf_token %}
              <div class="row">
                <div class="input-field col s4">
                      Date
                  <input id="date" type="date" class="validate" name="date" value="2018-12-01">

                </div>

                <div class="input-field col s4">
                      Time
                  <!-- <input id="time" type="time" class="validate" name="time"> -->
                  <select id="time" name="time" class="browser-default">
                      <option value="09:00-10:30">09:00-10:30</option>
                      <option value="10:30-12:00">10:30-12:00</option>
                      <option value="12:00-13:30">12:00-13:30</option>
                      <option value="13:30-15:00">13:30-15:00</option>
                      <option value="15:00-16:30">15:00-16:30</option>
                      <option value="16:30-18:00">16:30-18:00</option>
                  </select>
                </div>

                <div class="input-field col s4">
                    Options
                    <!-- <label for="Options">Option</label> -->
                    <select id="Options" name="edit_Options" class="browser-default">
                        <option value="wash_only">wash only</option>
                        <option value="wash">wash</option>
                        <option value="nail_clipping">nail clipping</option>
                        <option value="deluxe_grooming">deluxe grooming</option>
                    </select>
                </div>

                          </div>
              <div class="row">
                  <div class="input-field col s4">
                      Breed
                            <select id= "dog_type" name="breed" class="browser-default">
                              <option value="Poodle" >Poodle</option>
                              <option value="Labrador" >Labrador</option>
                              <option value="Boxer" >Boxer</option>
                              <option value="Pomeranian" >Pomeranian</option>
                            </select>


                 </div>
                <div class="input-field col s12">
                  <input id="task" type="text" class="validate" name="task">
                  <label for="task">Description</label>
                </div>
               </div>

              <input type="submit" name="add" value="Add" class="waves-effect waves-light btn">
          </form>
          </div>
        </div>
        <br>
        <br>

  </body>
</html>
