<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Login/Registration</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    </head>
    <body>
        <nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo center">Grooming Appointments System</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
    </ul>
  </div>
</nav>

        <div class="row container" >
        <div class="col s6 ">
            <h2>Signup</h2>
            {% if messages %}
                <ul class="messages">
                {% for message in messages %}
                <li style="color:red">{{ message }}</li>
                {% endfor %}
                </ul>
              {% endif %}
            <form action="/register" class="col s10" method="POST">
                {% csrf_token %}
              <div class="row">
                <div class="input-field col s12">
                  <input id="name" type="text" class="validate" name="name">
                  <label for="name">Name</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input id="email" type="text" class="validate" name="email">
                  <label for="email">Email</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input id="password" type="password" class="validate" name="password">
                  <label for="password">Password</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input id="password" type="password" class="validate" name="confirm_password">
                  <label for="confirm_password">Confirm Password</label>
                </div>
              </div>
              <input type="submit" value="Register" class="waves-effect waves-light btn">
            </form>
          </div>
          <div class="col s6 ">
          <form action="/login" method="POST" class="col s10">
             {% csrf_token %}
              <h2>Login</h2>
              <div class="row">
                <div class="input-field col s12">
                  <input id="email" type="text" class="validate" name="email">
                  <label for="email">Email</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input id="password" type="password" class="validate" name="password">
                  <label for="password">Password</label>
                </div>
              </div>
              <input type="submit" value="Login" class="waves-effect waves-light btn">
              <a href = "/admin"  class="waves-effect blue btn-large">Admin System</a>
          </form>
          <div>




          <div>
    </body>
</html>
