<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>User Profile</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
         {% load humanize %}
    </head>

    <body>
        <h5 style="text-align: right"><a href="/logout" style="margin: 20px">Log out</a> | <a href="/appoint" style="margin: 20px">Go Back</a></h5>
        <div class=" container ">
                <div class="row container card-panel teal">


            <h3>Update profile</h3>
            {% if messages %}
                <ul class="messages">
                {% for message in messages %}
                <li style="color:red">{{ message }}</li>
                {% endfor %}
                </ul>
              {% endif %}
            <form action="/edit_profile/{{user.id}}" class="col s12" method="POST">
                {% csrf_token %}


                <div class="input-field col s12">
                    <!-- <h7 class="col s12">Name</h5> -->
                    <label for="name">Name</label>

                  <input id="name" type="text" class="validate" name="edit_name" value="{{user.name}}">
                </div>


              <div class="input-field col s12">
                  <!-- <h7 class="col s4">Address</h5> -->
                  <label for="address">Address</label>
                  <input id="address" type="text" class="validate" name="edit_address" value="{{user.address}}">
              </div>


                <div class="input-field col s6">
                <!-- <h7 class="col s4">Mobile No.</h5> -->
                <label for="mobile_num">Mobile No.</label>
                  <input id="mobile_num" type="text" class="validate" name="edit_mobile_num" value="{{user.mobile_num}}">

              </div>

                  <div class="input-field col s6">
                  <!-- <h7 class="col s4">Home Phone</h5> -->
                  <label for="home_phone">Home Phone</label>
                    <input id="home_phone" type="text" class="validate" name="edit_home_phone" value="{{user.home_phone}}">

                </div>


              <br>
              <div class="col s12">
              <input type="submit" name="update" value="Update" class="waves-effect blue btn">
          </div>
          </form>


<div class="col s12">
      <div class="card-panel teal lighten-2">
      <h4>Your dog list :</h4>
      <table>
          <thead>
              <th>Name</th>
              <th>Breed</th>
              <th>Age</th>
              <th>Action</th>

          </thead>
          <tbody>
              <!-- {{today_appoint}} -->
              {% for dog in dogs %}
              <tr>
                  <td>{{ dog.name }}</td>
                  <td>{{ dog.breed }}</td>
                  <td>{{ dog.age }}</td>
                  <td>
                      <div class="row">
                          <div class="col s12 ">
                              <form class="delete" action="/deleteDog/{{ dog.id }}" method="post">
                                  {% csrf_token %}
                                  <input type="submit" name="delete" value="Delete" class="waves-effect red btn-small ">
                              </form>
                          </div>
                      </div>
                  </td>
              </tr>
              {% endfor %}
          </tbody>
      </table>

      </div>
       </div>
       </div>


      </div>


          <div class="container">

              <div class="card-panel  #18ffff cyan accent-2">
              <h3>Add Dog</h2>
              {% if messages %}
                  <ul class="messages">
                  {% for message in messages %}
                  <li style="color:red">{{ message }}</li>
                  {% endfor %}
                  </ul>
                {% endif %}
              <form action="/addDog" class="col s12" method="POST">
                  {% csrf_token %}
                <div class="row">
                  <div class="input-field col s4">
                        Name
                    <input id="dogName" type="text" class="validate" name="name" >

                  </div>
                  <div class="input-field col s4">
                        Breed
                    <input id="dogBreed" type="text" class="validate" name="breed" >

                  </div>
                  <div class="input-field col s4">
                        Age
                    <input id="dogAge" type="text" class="validate" name="age" >

                  </div>

                            </div>


                <input type="submit" name="Add_dog" value="Add" class="waves-effect waves-light btn">
            </form>
            </div>
          </div>





    </body>
</html>
