<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Update Appointment</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
         {% load humanize %}
    </head>

    <body>
        <h5 style="text-align: right"><a href="/logout" style="margin: 20px">Log out</a> | <a href="/appoint" style="margin: 20px">Go Back</a></h5>
        <div class=" container ">
            <div class=" row container card-panel teal">
            <h3>Update Appointment</h3>
            {% if messages %}
                <ul class="messages">
                {% for message in messages %}
                <li style="color:red">{{ message }}</li>
                {% endfor %}
                </ul>
              {% endif %}
            <form action="/edit_appoint/{{appointment.id}}" class="col s12" method="POST">
                {% csrf_token %}

                <h6 class="col s12">Description</h5>
                <div class="input-field col s12">

                  <input id="task" type="text" class="validate" name="edit_tasks" value="{{appointment.task}}">
                </div>


              <div class="input-field col s4">
                  <h6 class="col s4">Option</h5>
                  <!-- <label for="Options">Option</label> -->
                  <select id="Options" name="edit_Options" class="browser-default">
                      <option value="wash_only">wash only</option>
                      <option value="wash">wash</option>
                      <option value="nail_clipping">nail clipping</option>
                      <option value="deluxe_grooming">deluxe grooming</option>
                  </select>
              </div>

               <div class="input-field col s4">
                   <h6 class="col s4">Breed</h5>
                         <select id= "dog_type" name="breed" class="browser-default">
                           <option value="Poodle" >Poodle</option>
                           <option value="Labrador" >Labrador</option>
                           <option value="Boxer" >Boxer</option>
                           <option value="Pomeranian" >Pomeranian</option>
                         </select>
              </div>


                <div class="input-field col s4">
                <h6 class="col s4">Date</h5>
                  <input id="date" type="date" class="validate" name="edit_date" value="{{appointment.date}}">

              </div>


                <div class="input-field col s4">
                <h6 class="col s4">Time</h5>
                  <!-- <input id="time" type="time" class="validate" name="edit_time" value= "{{appointment.time}}"> -->
                        <select id="time" name="edit_time" class="browser-default">
                            <option value="09:00-10:30">09:00-10:30</option>
                            <option value="10:30-12:00">10:30-12:00</option>
                            <option value="12:00-13:30">12:00-13:30</option>
                            <option value="13:30-15:00">13:30-15:00</option>
                            <option value="15:00-16:30">15:00-16:30</option>
                            <option value="16:30-18:00">16:30-18:00</option>
                        </select>
              </div>
              <br>

              <div class="col s12">
                  <br>
              <input type="submit" name="update" value="Update" class="waves-effect blue btn">
          </div>
          </form>

      </div>
      </div>
    </body>
</html>
